# .dockerignore

# Exclude node_modules directory
node_modules

#Exclude development and build files
.git
.gitignore
.dockerignore

# Exclude yaml files for K8s configs
kubernetes/

# Exclude README.md
README.md

# Exclude build output
#.next/

# Configuration files
#*.config.js
#!next.config.js
#!tailwind.config.js